{% extends 'main.html' %}

{% block content %}

      <div class="container">

        <div class="row d-flex justify-content-center">
            <div class="col-md-4 color p-4 mt-5 rounded text-white">
                <form class=""> 
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Dirección de correo electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese correo electrónico">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese contraseña">
                      </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                  </form> 
            </div>
        </div>


        {% endblock %}
