{% extends 'main.html' %}
{% from 'macros/form_macros.html' import show_field, show_submit %}

{% block head %}
    {{ super() }}

{% endblock %}

{% block content %}


    <div class="container">

        <div class="row d-flex justify-content-center">
            <div class="col-md-4 color p-4 mt-5 rounded text-white">
                <form class=""> 
                    <div class="mb-3">
                      <label for="exampleInputFirstname1" class="form-label"> Nombre</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese Nombre">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputLastname1" class="form-label">Apellido</label>
                      <input type="" class="form-control" id="exampleInputPassword1" placeholder="Ingrese Apellido">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputTelephone1" class="form-label">Teléfono</label>
                        <input type="tel" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese teléfono">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Dirección de correo electrónico</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese correo electrónico">
                      </div>
                      <div class="mb-3">
                        <label for="exampleInputPassword1 class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese contraseña">
                      </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                  </form> 
            </div>
            </div>
        </div>
        

    
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    -->
  </body>
</html>


